<h1 class="text-4xl mb-4 font-nav">Recently uploaded</h1>
<div class="grid grid-cols-3 gap-4">
  <div class="group bg-gray-200 p-4 border-2 border-gray-300">
    <div class="h-44 bg-white bg-cover bg-no-repeat bg-center" style="background-image: url('https://static.planetminecraft.com/files/image/minecraft/project/2021/656/14560322_xl.webp')">
    </div>
    <div class="pt-4 font-nav text-xl underline group-hover:no-underline">
      Hermitcraft Season 7
    </div>
  </div>
  <div class="group bg-gray-200 p-4 border-2 border-gray-300">
    <div class="h-44 bg-white bg-cover bg-no-repeat bg-center" style="background-image: url('https://static.planetminecraft.com/files/image/minecraft/project/2020/236/12654451-maxresdefault_l.jpg')">
    </div>
    <div class="pt-4 font-nav text-xl underline group-hover:no-underline">
      DanTDM's Lab
    </div>
  </div>
  <div class="group bg-gray-200 p-4 border-2 border-gray-300">
    <div class="h-44 bg-white bg-cover bg-no-repeat bg-center" style="background-image: url('https://static.planetminecraft.com/files/image/minecraft/project/2022/011/15921417-minecraftpreview-pm_xl.jpg')">
    </div>
    <div class="pt-4 font-nav text-xl underline group-hover:no-underline">
      The Ultimate Minecraft Village
    </div>
  </div>
</div>
